.App {
  background-color: black;
  color: white;
  font-family: sans-serif;
}


.movie__star-icon:hover {
  color: yellow; /* Change the color on hover, you can customize this as needed */
  cursor: pointer; /* Add a pointer cursor on hover */
}